div.content{
	width: 80%;
	margin: auto 10% 3% 10%;
	background:#B2D4D0;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

ul {
	list-style-type: square;
	margin: auto 10% 3% 10%;
	background:#C2D4D0;
}

div.result{

	width: 80%;
	margin: auto 10% 3% 10%;
	background:#D2D4D0;
}

p.counter{
	text-align: center;
}

li{
	margin: 2% 2% 2% 2%;
}

div.slave{
	font-size: 75%;
	border-style: ridge;
}

input[type=checkbox]{
	zoom:200%;
}

button{
	width:200px;
	height:40px;
	text-align: center;
	margin: auto auto auto 40%;
}

*{ 
	margin:0; 
	padding:0; }

html{ 
	height:100%; }

p{ 
	padding:10px 0; }

body{ 
	min-height:100%; 
	font-family:arial; 
	position:relative; }

body.sideMenu{ 
	margin:0; 
	-webkit-transform:none;
	transform:none; }

#sideToggle{ 
	display:none; }

#sideToggle:checked + aside{ 
	left:0; }

#sideToggle:checked ~ #wrap{ 
	padding-left:220px; }

body > aside{ 
	position:fixed; 
	top:0; bottom:0; left:-200px;
	width:200px;
	background-color: rgb(8, 169, 159); 
	transition:0.2s ease-out; 
	-webkit-transition:0.2s ease-out; }

body > aside > h2{ 
	color:#FFF;
    text-align:center;
    font-weight:normal;
    padding:10px; }

#wrap{ 
	margin-left:20px; 
	padding:10px; 
	transition:0.25s ease-out; 
	-webkit-transition:0.25s ease-out; 
	position:fixed;
	top:5%;}

#wrap > label{ 
	display:inline-block; }

#wrap > label{ 
      background-color: rgb(8, 169, 159);
      border-radius:50px;
      color: #FFF;
      cursor: pointer;
      display: block;
      font-family: Courier New;
      font-size: 25px;
      font-weight: bold;
      width: 30px;
      height: 30px;
      line-height: 35px;
      text-align: center;
      text-shadow: 0 -4px;
      left:3%;}

#wrap > label:hover{ 
	background:#000; }

#wrap > p{
	color : rgb(8, 169, 159);
}

#nav { 
	background-color: #C2D4D0;
	border: 1px solid #D2D4D0; 
	position:fixed;
	left:90%;
	top:90%; }

#nav > p{
	background-color: #FFF;
	text-align: center;
}
