<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请输入任务号</title>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/static/welcome.css"> -->
</head>

<body>
      <form method='POST' name="form" onsubmit="return check()">
        任务号:{{form.task_id}}
        <br/><br/>
        <input   style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" type ="submit" value ="提交"/>
      </form>

<script>
function task(){
  var task_num = document.getElementById("task");

  console.log(task_num.value);

  $.ajax({
  type: 'POST',
  url: "/",
  dataType: "json",
  data: {"task_id":task_num.value},
    })
}
</script>
</body>
</html>